/* Responsive pour le mobile */
@media screen and (max-width : 992px) {
    body {
        font-size: 2rem;
    }

    .category {
        width: 80vw;
    }

    .logo2 {
        width: 200px;
    }
    .wave {
        display: none;
    }

    .btnLog {
        margin-right: 20px;
        font-size: 1.75rem;
        border-radius: 5px;
        background-color: #7EA16B;
        transition-duration: 0.5s;
        color: #fff;
        width: 75px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
}

/* --------------------------- */


/* Responsive pour mobile paysage */
@media screen and (max-width : 992px) and (orientation:landscape) {
    .imgQuizCarousel {
        width: 100%;
        height: 60vh;
        border: 0px;
        border-radius: 20px;
    }
    .wave {
        display: none;
    }
    .slider {
        box-sizing: border-box;
        background: transparent;
        width: 95vw;
        height: 80vh;
        overflow: hidden;
    }

    .logo2 {
        width: 200px;
    }
}

/* --------------------------- */

/* Responsive pour tablette */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .allLinkPage {
        margin-left: 0;
    }
    .logo2 {
        position: relative;
    }
    .wave {
        display: none;
    }
    .borderGreenRight {
        border-right: 5px solid #7EA16B;
    }

    .imgQuiz {
        width: 30vw;
        border: 0px;
        border-radius: 20px;
    }

    li {
        list-style-type: none;
    }

    .logo2 {
        width: 200px;
    }

}

/* --------------------------- */


/* Responsive pour tablette paysage */
@media screen and (min-width: 992px) and (orientation:landscape) {}

/* --------------------------- */


/* Responsive pour ordinateur */
@media screen and (min-width: 1200px) {
    .btnLog {
        margin-right: 20px;
        font-size: 1.75rem;
        border-radius: 5px;
        background-color: #7EA16B;
        transition-duration: 0.5s;
        color: #fff;
        width: 125px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
    main {
        min-height: 100vh;
    }

    .borderGreenRight {
        border-right: 5px solid #7EA16B;
    }

    .rotate {
        transform: rotate(180deg);
    }

    .imgQuiz {
        width: 40vw;
        border: 0px;
        border-radius: 20px;
    }

    li {
        list-style-type: none;
    }

    /* Animation sur les quiz populaires au survol */
    .imgQuiz {
        width: 20vw;
        transition-duration: 0.5s;
    }

    .imgQuiz:hover {
        width: 19vw;
    }

    /* --------------------------- */


    /* --------------- */
    /* HEADER */
    .logo2 {
        position: absolute;
        width: 200px;
        z-index: 1;
        top: 10vh;
        transition: 1s;
        left: 43vw;
    }

    .menu:hover .logo2 {
        /* left: 90px; */
        top: 10px;
    }

    .navMenu {
        height: 15vh;
    }

    header {
        overflow: hidden;
    }

    .allLinkPage {
        /* margin-left: 27vw; */
    }

    /* --------------------------- */

    /* FOOTER */
    footer {
        font-size: 1.5rem;
    }


}

/* --------------------------- */