body,
html {
  font-family: 'Bubblegum Sans', cursive;
  height: 100%;
  width: 100%;
  background-color: #fcf7f8;
  color: #202020;
}


*/ .presentation {
  height: 40vh;
}
.forgot {
  transition-duration: 1s;
}
.forgot:hover {
  transition-duration: 1s;
  color: #fafaff;
}
.errorMessage {
  font-size: 1rem;
  color: #DB2B39;
}

.bold {
  font-weight: bold;
  font-size: 2rem;
  color: #fafaff;
}

.logoPresentation {
  width: 10vw;
}
.logo {
  width: 130px;
}
.contact {
  height: 60vh;
}

.formLog, .formContact {
  margin-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #202020;
}

p {
  font-size: 1.5rem;
}

.footer,
.header {
  background-color: #202020;
}

/* Couleur background et texte différentes pour chaque bloc */
.bgDark {
  background-color: #202020;
  z-index: 2;
}

.bgGreen {
  background-color: #7EA16B;
}

.textGreen {
  color: #7EA16B;
}

.textDark {
  color: #202020;
}
.textRed {
  color: #DB2B39;
}

/* ----------------------------------------------------------- */
/* Animation au survol pour chaque catégorie */
.category{
  width: 25vw;
  transition-duration: 1s;
  
}
.category:hover{
  width: 30vw;
  background-color: #FAFAFF;
}
.category:hover a{
  color: #202020;
}
/* ------------------------------------- */

/* Affichage des catégories à gauche et à droite en alternance */
.category {
  width: 70%;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #202020;
}
a:hover {
  text-decoration: none;
  color: #202020;
}

/*-------------------------------------------------------------*/




/* HEADER */

.linkPage {
  font-size: 1.5rem;
  color: #7EA16B;
  transition-duration: 0.5s;
}

.linkPage:hover {
  color: #fafaff;

}

.btnLog {
  margin-right: 20px;
  font-size: 1.75rem;
  border-radius: 5px;
  background-color: #7EA16B;
  transition-duration: 0.5s;
  color: #fff;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btnMoreCategory {
  margin-right: 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #7EA16B;
  transition-duration: 0.5s;
  color: #202020;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btnMoreCategory:hover {
  background-color: #fafaff;
}

.btnLog:hover {
  background-color: #fafaff;
}

/* --------- */
/* FOOTER */
*
/* -------- */
.linkCategory {
  font-size: 2rem;
}



/* Formulaire de chaque page */

.fieldForm {
  background-color: #fafaff;
  border: 0px;
  border-radius: 7px;
  color: #1A1C1F;
}
.redBorder{
  border: 3px solid #DB2B39;
}
.btnFormSubmit {
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #7EA16B;
  transition-duration: 0.5s;
  color: #fff;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btnFormSubmit:hover {
  background-color: #fafaff;
  color: #202020;
}
label {
  font-size: 1.1rem;
  margin-bottom: 5px;
}


/* BOUTON SWITCH LOGIN/REGISTER */
.btnLogin {
  width: 500px;
  border-top-left-radius: 10px;
  opacity: 0.5;
}
.btnRegister{
  width: 500px;
  border-top-right-radius: 10px;
  opacity: 0.5;
}
.btnActiveRegister {
  width: 500px;
  border-top-right-radius: 10px;
}
.btnActiveLogin {
  width: 500px;
  border-top-left-radius: 10px;
}
/* -------------------------- */


/* CAROUSEL des différentes catégories pour mobile */
ul,
body,
p {
  margin: 0;
  padding: 0;
}

.imgQuizCarousel {
  width: 100%;
  border: 0px;
  border-radius: 20px;
}

.delCarousel {
  display: none;
}

/* ----------------------------------- */

svg {
  width: 100%;
  height: 150px;
}


/* Tableau dashboard */
.radiusFirst {
  border-top-left-radius: 10px;
}

.radiusLast {
  border-top-right-radius: 10px;
}
.lastTable {
  width: 10%;
}
.optionsTable {
  justify-content: space-around;
  display: flex;
}
.tableDashboard {
  width: 80vw;
}
.titleTable {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7EA16B;
  background-color: #202020;
}
.trDetails {
  border: 1px solid #202020;
}
td {
  padding: 10px;
}

/* Profil utilisateur dashboard */

.cardProfil {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  padding: 30px;
  width: 50vw;
}

.profilInfo {
  font-size: 1.5rem;
  margin-left: 250px;
}